<div class="page_content">

  <h1 class="link_to_home_header">Classtronomy</h1>

  <% @course.questions.each do |question| %>
    <div class="question_wrapper">

      <p><%= question.content %></p>

      <ul>
        <button name="possible_answer" class="quiz_guess answer_button"><%= question.possible_answer1 %></button>
        <button name="possible_answer" class="quiz_guess answer_button"><%= question.possible_answer2 %></button>
        <button name="possible_answer" class="quiz_guess answer_button"><%= question.possible_answer3 %></button>
        <button name="possible_answer" class="quiz_guess answer_button"><%= question.possible_answer4 %></button>
        <p class="correct_answer" hidden><%= question.correct_answer %></p>
      </ul>

      <p class="correct_declaration" hidden>Correct!</p>
      <p class="incorrect_declaration" hidden>Incorrect, keep trying...</p>

      <% if current_user.try(:admin?) %>
        <%= link_to "Edit", edit_course_question_path(@course, question) %>
        <%= link_to "Delete", [@course, question], method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
  <% end %>

  <% if current_user.try(:admin?) %>
    <%= link_to 'Add Question', new_course_question_path(@course, @question) %>
  <% end %>
</div>
