<% if signed_in? %>
  <p class="signed_in_notification_container">Signed in as: <%= link_to current_user.user_name, current_user, class: "signed_in_notification" %></p>
<% end %>

<div class="page_content">

  <h1 class="link_to_home_header_container"><%= link_to 'Classtronomy', root_path, class: "link_to_home_header" %></h1>

  <h2><%= @course.name %> Quiz</h2>

  <% @course.questions.each do |question| %>
    <div class="question_wrapper">

      <p><%= question.content %></p>

      <ul>
        <button name="possible_answer" class="quiz_guess answer_button"><%= question.possible_answer1 %></button>
        <button name="possible_answer" class="quiz_guess answer_button"><%= question.possible_answer2 %></button>
        <button name="possible_answer" class="quiz_guess answer_button"><%= question.possible_answer3 %></button>
        <button name="possible_answer" class="quiz_guess answer_button"><%= question.possible_answer4 %></button>
        <p class="correct_answer" hidden><%= question.correct_answer %></p>
      </ul>

      <p class="correct_declaration" hidden>Correct!</p>
      <p class="incorrect_declaration" hidden>Incorrect, keep trying...</p>

      <% if current_user.try(:admin?) %>
        <%= link_to "Edit", edit_course_question_path(@course, question) %>
        <%= link_to "Delete", [@course, question], method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
  <% end %>

  <% if current_user.try(:admin?) %>
    <%= link_to 'Add Question', new_course_question_path(@course, @question), class: "nav_link" %><br>
  <% end %>
  <%= link_to 'Back to Courses', courses_path, class: "nav_link" %>
  <%= link_to 'Back Home', root_path, class: "nav_link" %>
</div>
