<div class="background_image_container">

  <section class="welcome_page_content">

  <div class="welcome_page_header">Classtronomy v2.0</div>
  <nav class="welcome_page_nav">
    <%= link_to "Enroll", new_user_registration_path, class: 'nav_link' %>
    <% if current_user %>
      <%= link_to "Sign-Out", destroy_user_session_path, :method => :delete, class: 'nav_link' %>
    <% else %>
      <%= link_to "Sign-In", new_user_session_path, class: 'nav_link' %>
    <% end %>
    <%= link_to "Courses", courses_path, class: 'nav_link' %>
  </nav>

  </section>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

