<%= form_for @course do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :paragraph1 %><br>
  <%= f.text_area :paragraph1 %>
</p>
<p>
  <%= f.label :image %><br>
  <%= f.text_field :image %>
</p>
<p>
  <%= f.label :paragraph2 %><br>
  <%= f.text_area :paragraph2 %>
</p>
<p>
  <%= f.label :video %><br>
  <%= f.text_field :video %>
</p>
<p>
  <%= f.label :paragraph3 %><br>
  <%= f.text_area :paragraph3 %>
</p>
<p>
  <%= f.label :badge %><br>
  <%= f.text_field :badge %>
</p>
<p>
  <%= f.submit 'Submit', id: 'submit' %>
</p>
<% end %>
