<p class="signed_in_notification_container">Signed in as: <%= link_to current_user.user_name, current_user, class: "signed_in_notification" %></p>

<div class="page_content">

  <h1><%= link_to 'Classtronomy', root_path, class: "link_to_home_header" %></h1>

  <h2 class="course_index_header">Choose a Course</h2>

  <% @courses.each do |course| %>
    <div class="course_index_wrapper">
      <%= link_to course.name, course, class: 'course_name' %>
    </div>
  <% end %>

  <nav>
    <%= link_to 'Back Home', root_path %>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Create New Course', new_course_path %>
    <% end %>
  </nav>
</div>
