<% if signed_in? %>
  <p class="signed_in_notification_container">Signed in as: <%= link_to current_user.user_name, current_user, class: "signed_in_notification" %></p>
<% end %>

<div class="page_content">

  <h1><%= link_to 'Classtronomy', root_path, class: "link_to_home_header" %></h1>

  <h2><%= @course.name %></h2>

  <% if current_user.try(:admin?) %>
    <%= link_to "Edit Course Materials", edit_course_path(@course) %>
  <% end %>

  <p class="course_text_container"><%= @course.paragraph1 %></p>

  <img src="<%= @course.image %>" class="course_image">

  <p class="course_text_container"><%= @course.paragraph2 %></p>

  <iframe width="560" height="315" src="<%= @course.video %>" frameborder="0" allowfullscreen></iframe>

  <p class="course_text_container"><%= @course.paragraph3 %></p>

  <%= link_to 'Take Quiz', course_questions_path(@course) %><br>
  <%= link_to 'Course List', courses_path %><br>
  <%= link_to 'Back Home', root_path %><br>
</div>
